        nav {
            background-color: #FDBC00;
        }

        /* 將下拉箭號不顯示(去f12觀察copy過來修) */
        .dropdown-toggle::after {
            display: none;
        }

        .dropdown-menu[data-bs-popper] {
            top: 100%;
            left: -110px;
            /* margin-top: var(--bs-dropdown-spacer); */
        }

        .nav-item :hover {
            color: white;
        }

        .dropdown-menu:hover {
            /* background-color: black; */
            color: black;
        }

        .dropdown-item:hover {
            /* background-color: black; */
            color: black;
        }
        img {
            width: 170px;
            height: 40px;
        }

        .progress-bar {
            background-color: rgb(14, 211, 14);
        }

        .my-circle {
            width: 40px;
            height: 40px;
        }

        .my-progress {
            width: calc(100% - 40px - 8px*2);
        }

        .underline-thick {
            text-decoration-thickness: 3px;
        }