        nav {
            background-color: #FDBC00;
        }

        /* 將下拉箭號不顯示(去f12觀察copy過來修) */
        .dropdown-toggle::after {
            display: none;
        }

        .dropdown-menu[data-bs-popper] {
            top: 100%;
            left: -110px;
            /* margin-top: var(--bs-dropdown-spacer); */
        }

        .nav-item :hover {
            color: white;
        }

        .dropdown-menu:hover {
            /* background-color: black; */
            color: black;
        }

        .dropdown-item:hover {
            /* background-color: black; */
            color: black;
        }

        img {
            width: 170px;
            height: 40px;
        }

        main .product-1 {
            /* background-color: #FDBC00; */
            /* url可以加單引號 */
            background-image: url('./img/尖叫櫻桃.png');
            background-position: center;
            background-size: cover;
            /* border: 2px solid black; */
            width: 80px;
            height: 80px;
        }

        main .product-2 {
            /* background-color: #FDBC00; */
            background-image: url('./img/橙味風暴.png');
            background-position: center;
            background-size: cover;
            width: 80px;
            height: 80px;
        }

        main .product-3 {
            /* background-color: #FDBC00; */
            background-image: url('./img/皇家利口酒.png');
            background-position: center;
            background-size: cover;
            width: 80px;
            height: 80px;
        }

        .form-control {
            width: 50px;
        }

        .progress-bar {
            background-color: rgb(14, 211, 14);
        }

        .my-circle {
            width: 40px;
            height: 40px;
        }

        .my-progress {
            width: calc(100% - 40px - 8px*2);
        }

        .underline-thick {
            text-decoration-thickness: 3px;
        }
        /* 有id 可以不用section */
        .return:hover .bi-arrow-left{
            left: 100%;
        }